axuaxibot
Testing/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
Makefile
cmake_build/
build/
build_prod/
build_test/
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.db
.env
/axuctl
!/axuctl/
axuaura_tests
